%p  
  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :caption
    = f.text_area :caption
  .field
    = f.label :image
    = f.file_field :image
  .field
    = f.label :service_id
    = f.text_field :service_id
