%h1 Listing services

%table
  %tr
    %th Name
    %th Description
    %th Featured
    %th
    %th
    %th

  - @services.each do |service|
    %tr
      %td= service.name
      %td= service.description
      %td= service.featured
      %td= link_to 'Show', [:admin, service]
      %td= link_to 'Edit', edit_admin_service_path(service)
      %td= link_to 'Destroy', [:admin, service], :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Service', new_admin_service_path
