<div id="col1">
    	<div class="about-box">
    		<h3 class="head-big">ABOUT EMINENT</h3>
            <div>
            	<p>Vestibulum mollis mauris enim. Morbi euismod magna ac lorem rutrum elementum. Donec viverra auctor lobortis. </p>
				<p>Pellentesque eu est a nulla placerat dignissim. Morbi a enim in magna semper bibendum. Etiam scelerisque, nunc ac egestas consequat... </p>
            </div>
        </div>
        <ul class="menu-about font-em">
        	<li><a href="#">ABOUT US</a></li>
            <li><a href="#" class="active">AWARDS</a></li>
            <li><a href="#">BRANDI HAGEN</a></li>
            <li><a href="#">STAFF DESIGNERS</a></li>
            <li><a href="#">SPECIALITIES</a></li>
        </ul>
    </div>
    <div id="col2">
        <h3 class="head-big head-bigest">About Us</h3>
        <div class="slide-featured">
        	<div id="slides">
                <div class="slide-wrapper">
                    <div class="slide-thumbnail">
                        <%= image_tag("slide.jpg", :alt => "photo", :class => "shadow-img") %>
                    </div>
                    <div class="slide-details">
                    	<h3 class="head-big">Featured Work</h3>
                        <h2 class="font-em"><a href="#">Asian Bath</a></h2>
                        <div class="description">
                            <p>Vestibulum mollis mauris enim. Morbi euismod magna ac lorem rutrum elementum. Donec viverra auctor lobortis. </p>
                            <p>Pellentesque eu est a nulla placerat dignissim. Morbi a enim in magna semper bibendum. Etiam scelerisque, nunc ac egestas consequat</p>
                            <a href="#" class="more">View Case Study »</a>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
                
                
            </div>
			
            <div id="myController">
                <span class="jFlowPrev">&laquo;</span>
                <span class="jFlowControl">1</span>
                <span class="jFlowControl">2</span>
                <span class="jFlowControl">3</span>
                <span class="jFlowNext">&raquo;</span>
            </div>
        </div>
        <br class="clear" />
        <div class="our-text">
        	<div class="our-story">
            	<h3 class="head-big head-bigest">Our Story</h3>
                <div class="intro-about">
                	<p>Morbi euismod magna ac lorem rutrum elementum. Donec viverra auctor lobortis. Pellentesque eu est a nulla placerat dignissim. Morbi a enim in magna semper bibendum. </p>

					<p>Etiam scelerisque, nunc ac egestas consequat, odio nibh euismod nulla, eget auctor orci nibh vel nisi. Aliquam erat volutpat. Mauris vel neque sit amet nunc gravida congue sed sit amet purus. Quisque lacus quam, egestas ac tincidunt a, lacinia vel velit. Aenean facilisis nulla vitae urna tincidunt congue sed ut dui. </p>
                </div>
            </div>
            <div class="other-work">
            	<h4 class="font-em">Other Featured Works</h4>
                <ul>
                	<li><a href="#"><%= image_tag("about.gif", :alt => "photo", :class => "shadow-img small-shadow") %></a></li>
                    <li><a href="#"><%= image_tag("about.gif", :alt => "photo", :class => "shadow-img small-shadow") %></a></li>
                    <li><a href="#"><%= image_tag("about.gif", :alt => "photo", :class => "shadow-img small-shadow") %></a></li>
                    <li><a href="#"><%= image_tag("about.gif", :alt => "photo", :class => "shadow-img small-shadow") %></a></li>
                </ul>
            </div>
            <div class="clear"></div>
        </div>
   	</div>
