<div id="col1">
    	<div class="about-box">
    		<h3 class="head-big">THE GALLERY</h3>
            <div>
            	<p>Vestibulum mollis mauris enim. Morbi euismod magna ac lorem rutrum elementum. Donec viverra auctor lobortis. </p>
				<p>Pellentesque eu est a nulla placerat dignissim. Morbi a enim in magna semper bibendum. Etiam scelerisque, nunc ac egestas consequat... </p>
            </div>
        </div>
        <ul class="menu-about font-em">
        	<li><a href="#">ALL CATEGORIES</a></li>
            <li><a href="#" class="active">FEATURED WORK</a></li>
            <li><a href="#">KITCHEN DESIGN</a></li>
            <li><a href="#">BATHROOM DESIGN</a></li>
            <li><a href="#">INTERIOR DESIGN</a></li>
            <li><a href="#">NEW CONSTRUCTION</a></li>
            <li><a href="#">HOME REMODELING</a></li>
        </ul>
        
        <div class="tag-box">
        	<h3 class="head-big head-small">BROWSE BY TAGS</h3>
            <div class="clear">
            	<a href="#" class="bold"><span>Award-Winner</span></a>
                <a href="#"><span>Casual</span></a>
                <a href="#"><span>Uraban</span></a>
                <a href="#"><span>Formal</span></a>
                <a href="#" class="opa"><span>Condo/loft</span></a>
                <a href="#"><span>City</span></a>
                <a href="#" class="opa"><span>Downsizing</span></a>
                <a href="#" class="bold"><span>Suburban</span></a>
                <a href="#"><span>Lake Home</span></a>
                <a href="#"><span>Accessible</span></a>
                <a href="#" class="opa"><span>Historic</span></a>
                <a href="#"><span>Mid-Century</span></a>
            </div>
        </div>
    </div>
    <div id="col2">
    	<h3 class="head-big head-bigest">Kitchen Design</h3>
        <a href="#" class="fb">Share this</a>
        <div class="slide-featured">
            <div class="slide-thumbnail">
                <%= image_tag("slide.jpg", :alt => "photo", :class => "shadow-img") %>
            </div>
            <ul class="small-thumb">
            	<li><a href="#"><%= image_tag("small_thumb.jpg", :alt => "") %></a></li>
                <li><a href="#"><%= image_tag("small_thumb.jpg", :alt => "") %></a></li>
                <li><a href="#"><%= image_tag("small_thumb.jpg", :alt => "") %></a></li>
                <li><a href="#"><%= image_tag("small_thumb.jpg", :alt => "") %></a></li>
                <li><a href="#"><%= image_tag("small_thumb.jpg", :alt => "") %></a></li>
                <li><a href="#"><%= image_tag("small_thumb.jpg", :alt => "") %></a></li>
                <li><a href="#"><%= image_tag("small_thumb.jpg", :alt => "") %></a></li>
                <li><a href="#"><%= image_tag("small_thumb.jpg", :alt => "") %></a></li>
                <li><a href="#"><%= image_tag("small_thumb.jpg", :alt => "") %></a></li>
                <li><a href="#"><%= image_tag("small_thumb.jpg", :alt => "") %></a></li>
            </ul>
            <div class="desc-tag desc-1">
            	<h4 class="font-em">MODERN COTTAGE KITCHEN</h4>
                <div class="text-desc-tag">Morbi euism.od magna ac lorem rutrum elementum. Donec viverra auctor lobortis. Morbi euism.od magna ac lorem rutrum elementum. Donec viverra auctor lobortis.</div>
            </div>
           	<div class="desc-tag desc-2">
            	<h4 class="font-em">IMAGE TAGS</h4>
                <div class="text-desc-tag">
                	<a href="#">Award Winner</a>, 
                    <a href="#">Lake Home</a>, 
                    <a href="#">Accessible</a> 
                </div>
            </div>
        </div>
        
   </div>
