 <div class="content-slider">
    	<h3 class="head-big">Featured Work</h3>
		<div id="slides">
			<div class="slide-wrapper">
				<div class="slide-thumbnail">
				  <%= image_tag("slide.jpg", :alt => "photo", :class => "shadow-img") %>
				</div>
				<div class="slide-details">
					<h2 class="font-em"><a href="#">Asian Bath</a></h2>
					<div class="description">
						<p>Vestibulum mollis mauris enim. Morbi euismod magna ac lorem rutrum elementum. Donec viverra auctor lobortis. </p>
						<p>Pellentesque eu est a nulla placerat dignissim. Morbi a enim in magna semper bibendum. Etiam scelerisque, nunc ac egestas consequat</p>
                        <a href="#" class="more">View Case Study »</a>
					</div>
				</div>
				<div class="clear"></div>
			</div>
			
			
		</div>
			
		<div id="myController">
			<span class="jFlowPrev">&laquo;</span>
			<span class="jFlowControl">1</span>
			<span class="jFlowControl">2</span>
			<span class="jFlowControl">3</span>
			<span class="jFlowNext">&raquo;</span>
		</div>
		<div class="clear"></div>
	</div> <!--end content-slider-->
    
    <div class="meet-contact-box">
    	<div class="meet-design">
        	<a href="#"><%= image_tag("video.jpg", :alt => "photo", :class => "shadow-img") %></a>
            <div class="content-meet">
            	<h3 class="head-big head-small">Meet  principal designer </h3>
                <div class="sum-post clear">
                    <%= image_tag("sign.gif") %>
                    <div>Vestibulum mollis mauris enim. Morbi euismod magna ac lorem rutrum elementum. Donec viverra auctor lobortis. Pellentesque eu est a nulla placerat dignissim. Morbi a enim in magna semper bibendum. Etiam scelerisque, nunc ac egestas consequat.</div>
                    <a href="#" class="more">Learn More »</a>
                </div>
            </div>
        </div>
        <div class="contact">
        	<h3 class="head-big head-small">CONTACT US</h3>
            <div class="text-contact">Vestibulum mollis mauris enim. Morbi euismod magna ac lore.m auctor lobortis.</div>
            <div class="phone-big font-em">
            	<span class="phone">612.767.1242</span>
				hello@eminentdesign.com
            </div>
        </div>
        <div class="clear"></div>
    </div><!--end meet-contact-box-->
    
    <div class="design-service">
    	<h3 class="head-big">DESIGN Services</h3>
        <ul class="services-list">
        	<li>
            	<a href="#"><%= image_tag("pic1.jpg", :alt => "photo", :class => "shadow-img") %></a>
                <h2 class="font-em"><a href="#">Kitchen DESIGN</a></h2>
                <div class="desc-servie">Vivamus id mollis quam. Morbi ac commodo nulla. In condimentum orci id nisl.</div>
            </li>
            <li>
            	<a href="#"><%= image_tag("pic2.jpg", :alt => "photo", :class => "shadow-img") %></a>
                <h2 class="font-em"><a href="#">Kitchen DESIGN</a></h2>
                <div class="desc-servie">Vivamus id mollis quam. Morbi ac commodo nulla. In condimentum orci id nisl.</div>
            </li>
            <li>
            	<a href="#"><%= image_tag("pic3.png", :alt => "photo", :class => "shadow-img") %></a>
                <h2 class="font-em"><a href="#">Kitchen DESIGN</a></h2>
                <div class="desc-servie">Vivamus id mollis quam. Morbi ac commodo nulla. In condimentum orci id nisl.</div>
            </li>
            <li>
            	<a href="#"><%= image_tag("pic1.jpg", :alt => "photo", :class => "shadow-img") %></a>
                <h2 class="font-em"><a href="#">Kitchen DESIGN</a></h2>
                <div class="desc-servie">Vivamus id mollis quam. Morbi ac commodo nulla. In condimentum orci id nisl.</div>
            </li>
        </ul>
    </div>
    
